<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ALLEGRO - Dashboard</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

		<!--- FTD - ADD IN VUE & AXIOS-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body >
	<div id="app">
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>ALLEGRO</span>Admin</a>
				<ul class="nav navbar-top-links navbar-right">
					 
					
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<!--
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Felix Fox</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		-->
		<div class="divider"></div>
		
		<ul class="nav menu">
			<li class="active"><a href="index.html"><em class="fa fa-dashboard">&nbsp;</em> Main</a></li>
			
			<li v-if="isIssuer"><a href="create.html"><em class="fa  fa-address-card-o">&nbsp;</em> Create Credential</a></li>
			<li v-if="isIssuer"><a href="view.html"><em class="fa fa-binoculars">&nbsp;</em> View Credentials Issued</a></li>
			<li v-if="isStudent"><a href="mycredview.html"><em class="fa fa-mortar-board">&nbsp;</em> View My Credentials</a></li>
			<li v-if="isStudent"><a href="myhistory.html"><em class="fa fa-history">&nbsp;</em> View My History</a></li>
			<li v-if="isRelyingParty"><a href="rp.html"><em class="fa fa-institution">&nbsp;</em> Validate Credential</a></li>
			
		
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">ALLEGRO Decentralized Credentialing</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 v-if="isIssuer" class="page-header">Welcome to Cognizant's Allegro Issuer Control Panel</h1>
				<h1 v-if="isRelyingParty" class="page-header">Welcome to Cognizant's Allegro Relying Party Control Panel</h1>
				<h1 v-if="isStudent" class="page-header">Welcome to Cognizant's Allegro Student Control Panel</h1>
			</div>
		</div><!--/.row-->
		
		<div class="panel panel-container">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
					<div class="form-group col-lg-8">
						<input v-model="userName" class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">
					</div>
					<div class="form-group col-lg-8">
						<input class="form-control" placeholder="Password" name="password" type="password" value="">
					</div>
					<br><br><br>
					<br><br><br>
					<div class="checkbox">
						<label>
							<input name="remember" type="checkbox" value="Remember Me">Remember Me
						</label>
					</div>
					<div>
						  <button type="button" v-on:click="loginClicked" class="btn btn-lg btn-primary">Login</button>
 
					</div>
					<br><br>

			</div><!--/.row-->
		</div>

		 
		
		
		</div>	<!--/.main-->

	</div> 
</div><!-- vue scope -->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/custom.js"></script>
	<script src="scripts/index.js"></script>

		
</body>
</html>